@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap');

.Post {
  text-align: center;
}


.Definition-box {
  display: inline-block;
  background-color: rgb(236, 236, 236);
  color: black;
  padding: calc(10px);
  font-family: 'Open Sans', sans-serif;
}

.Header > .Title {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: black;
  font-family: 'Prata', serif;
  margin-block-end: 1%;
}

.Header > .Subtitle {
  display: block;
  flex-direction: row;
  align-items: left;
  justify-content: start;
  font-size: calc(12px + 2vmin);
  margin-block-start: auto;
  color: rgb(184, 182, 182);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-style: italic;
}

.Body {
  display: block;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 5%;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
